<!DOCTYPE html>
<html lang="ru">
<head>
    <link media="all" href="<?php echo $this->getSkinUrl('style/contacts.css') ?>" type="text/css" rel="stylesheet">
    <?php echo $this->getChildHtml('head') ?>
</head>
<body class="contacts">
    <?php echo $this->getChildHtml('header') ?>
    <section id="page">
        <div id="content" role="main">
            <script type="text/javascript">
                function handleApiReady() {
                    var myLatlng = new google.maps.LatLng(49.984786135408, 36.192398071289 );
                    var myOptions = {
                        zoom: 8,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    var map1 = new google.maps.Map(document.getElementById("map1"),
                        myOptions);
                    var map2 = new google.maps.Map(document.getElementById("map2"),
                        myOptions);
                    var map3 = new google.maps.Map(document.getElementById("map3"),
                        myOptions);
                }
            </script>
            <script type="text/javascript"
                    src="http://maps.google.com/maps/api/js?key=AIzaSyCDWugJmKVlxI77gjvte7BkobnJXGtxKgs&sensor=false&callback=handleApiReady
                "></script>
            <?php echo $this->getChildHtml('content') ?>
        </div><!--#/content--><!--r/main-->
    </section><!--#/page-->
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('before_body_end'); ?>
</body>
</html>