<!DOCTYPE html>
<html lang="ru">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body class="news sidebarRight">
<?php echo $this->getChildHtml('header') ?>
<section id="page">
    <div id="content" role="main">
        <?php echo $this->getChildHtml('content') ?>
    </div>
    <aside role="complementary" id="sidebar">
        <?php echo $this->getChildHtml('right') ?>
    </aside>
</section>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('before_body_end'); ?>
</body>
</html>