body.contacts #content fieldset {
	border: none;
	border-top: 1px solid #d3d3d3;
	margin-top: 15px;
	overflow: hidden;
	padding: 18px 0 0 0;
}

body.contacts #content legend h4 {
	font-size: 18px;
	font-weight: normal;
	padding-right: 22px;
}

body.contacts #content header {
	border-top: 1px solid #d3d3d3;
}

body.contacts #content header h4 {
	
}

body.contacts #content .contacts {
	float: left;
	font-size: 14px;
	height: 283px;
	overflow: hidden;
}

body.contacts #content dt {
	clear: left;
	float: left;
	font-weight: bold;
	margin-bottom: 19px;
	width: 93px;
}

body.contacts #content dd {
	float: left;
	margin-bottom: 19px;
	width: 220px;
}

body.contacts #content .mapWrapper {
	border-right: 1px solid #000000;
	float: right;
	height: 283px;
	width: 619px;
}

body.contacts #map1 {
    height: 283px;
    width: 619px;
}

body.contacts #map2 {
    height: 283px;
    width: 619px;
}

body.contacts #map3 {
    height: 283px;
    width: 619px;
}