body.order #content dl {
    float: left;
    margin-top: 20px;
    width: 890px;
}

body.order #content dt {
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 2px;
	width: 430px;
}

body.order #content dt.active {
	cursor: default;
}

/*body.order #content dd {
	clear: both;
	float: left;
	margin: 17px 0 24px 80px;
}*/

body.order #content dd .container {
	float: left;
	padding: 16px;
	width: 450px;
}

body.order #content .container {
    float: left;
    padding: 16px;
    width: 450px;
}

body.order #content .field {
    margin-top: 5px;
}

body.order #content .control .input-box {
    float: left;
    width: 25px;
}

body.order #content .account-login .buttons-set {
    margin-left: 35px;
    margin-top: 5px;
    width: 200px;
}
body.order #content .aside .buttons-set {
    margin-left: 35px;
    margin-top: 5px;
    width: 200px;
}

body.order #content .registered-users .input-box {
    width: 340px;
}

body.order #content .buttons-set {
    margin-top: 5px;
    width: 200px;
}


body.order #content .container.aside {
    padding-left: 34px;
    width: 400px;
}

body.order #content dd .container.aside {
	padding-left: 34px;
	width: 254px;
}

body.order #content .step {
	background: url('image/step.png') no-repeat;
	color: #830a0a;
	float: left;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 35px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	width: 44px;
}

body.order #content dl.active .step, body.order #content dt:hover .step {
	background-image: url('image/step-active.png');
	color: #ffffff;
}

body.order #content .legend {
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: url('image/order-legend.png') repeat-x;
	behavior: url('pie/PIE.htc');
	border-radius: 2px;
	color: #ffffff;
	float: left;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 20px;
	height: 29px;
	line-height: 29px;
	margin: 7px 0 0 35px;
	padding: 0 10px;
	width: 312px;
}

body.order #content dd h4 {
     border-bottom: 1px solid #adadad;
     font-size: 18px;
     font-weight: normal;
     margin-bottom: 14px;
     padding-bottom: 6px;
 }

body.order #content h4 {
    border-bottom: 1px solid #adadad;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 14px;
    padding-bottom: 6px;
}

body.order #content .page-title{
    margin-bottom: 20px;
}

body.order #content dd h5 {
	font-size: 14px;
}

body.order #content dd .container.main form {
	padding: 20px 0 0 11px;
}

body.order #content dd form input[type=button] {
	margin-top: 20px;
	width: 200px;
}

body.order #content dd form label {
	clear: right;
	font-size: 14px;
	padding-bottom: 2px;
}

body.order #content dd .additional {
	line-height: 14px;
	margin-top: 11px;
	overflow: hidden;
    font-size: 12px;
}

body.order #content .additional {
    line-height: 14px;
    margin-top: 11px;
    overflow: hidden;
    font-size: 12px;
    margin-left: 35px;
}

body.order #content .additional a {
    color: #3453c7;
}

body.order #content .additional a:hover {
    color: #5e96e2;
}

body.order #content .additional span {
    margin-left: 5px;
}

body.order #content .additional a {
	color: #3453c7;
}

body.order #content dd .additional a:hover {
	color: #5e96e2;
}

body.order #content dd .additional span {
	float: right;
}

body.order #content input[type=text],
body.order #content select,
body.order #content input[type=password] {
	background-color: #ffffff;
	border: 1px solid #afafaf;
	border-radius: 3px;
	font-size: 15px;
	/*padding: 2px 7px;
	width: 242px;*/
}

body.order #content dd .aside input[type=text] {
	margin-bottom: 3px;
}

body.order #content dd form input[type=button] {
	margin-top: 14px;
}
body.order #content .error-msg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #830A0A;
    border-image: none;
    border: 1px solid #830A0A;
    border-radius: 3px;
    border-top: 1px solid #830A0A;
    color: #FF0000;
    margin: 0;
    list-style: none outside none;
    background-color: #FAEBE7;
}

body.order #content .validation-advice {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #830A0A;
    border-image: none;
    border: 1px solid #830A0A;
    border-radius: 3px;
    border-top: 1px solid #830A0A;
    color: #FF0000;
    margin: 5px 0 0;
    list-style: none outside none;
    background-color: #FAEBE7;
}

#payment_form_ccsave{
    width: 31%;
    border: 1px solid #AFAFAF;
    border-radius: 3px;

}
body.order #content ul, body.order #content li {
    list-style: none outside none;
    margin-top: 5px;
}

body.order #content .error-msg ul, body.order #content .error-msg li{
    list-style: none outside none;
}

button {
    margin-top: 14px;
    width: 200px;
}