<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="home '.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
    <section id="page">
        <?php echo $this->getChildHtml('header') ?>
        <?php echo $this->getChildHtml('global_notices') ?>
        <div id="content" role="main">
            <?php echo $this->getChildHtml('global_messages') ?>
            <?php echo $this->getChildHtml('futurity.homepage.content') ?>
            <?php echo $this->getChildHtml('products.special') ?>
            <?php echo $this->getChildHtml('products.top-rated') ?>
			<?php echo $this->getChildHtml('products.new') ?>
            <?php echo $this->getChildHtml('clnews.latest') ?>
        </div>
    </section>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
</body>
</html>