
<?php if (($_products = $this->getProducts()) && $_products->getSize()): ?>
<h3><?php if($this->getType() == 'special'): echo 'Специальное предложение'; else: echo 'Новинки'; endif; ?></h3>
    <div class="goodList tableView">
        <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                <div class="widget" style="height: 331px;">
                    <div class="innerWrapper">
                        <header>
                            <h2><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                            <a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100) ?>" width="100" height="100" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                        </header>
                        <div class="description">
                            <p><strong>Артикул: </strong><?php echo $_product->getSku();?></p>
                            <p><strong>Вес: </strong><?php echo number_format($_product->getWeight(),2);?></p>
                            <?php if($_product->getAttributeText('country_of_manufacture') != ' '):?><p><strong>Страна: </strong><?php echo $_product->getAttributeText('country_of_manufacture');?></p><?php endif;?>
                        </div>
                    </div>
                    <footer style="display: block;">
                        <a class="button" href="<?php echo $this->getAddToCartUrl($_product) ?>">
                            <?php if($_product->getSpecialPrice()):?>
                                <span class="iconCart">
                                    <?php echo number_format($_product->getSpecialPrice(),2);?>
                                    <?php if($_product->getAttributeText('dimensions') == 'м2'): echo ' грн/м';?><sup>2</sup><?php else: echo ' грн'; endif;?>
                                </span>
                            <?php else: ?>
                                <span class="iconCart">
                                    <?php echo number_format($_product->getPrice(),2);?>
                                    <?php if($_product->getAttributeText('dimensions') == 'м2'): echo ' грн/м';?><sup>2</sup><?php else: echo ' грн'; endif;?>
                                </span>
                            <?php endif;?>
                        </a>
                    </footer>
                </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>