body.cart #content footer, body.cart #content header {
	overflow: hidden;
}

body.cart #content footer {
	margin-top: 13px;
}

body.cart #content header {
	margin-bottom: 13px;
}

body.cart #content header h3 {
	float: left;
}
body.cart #content footer input, body.cart #content header input {
	float: right;
	width: 200px;
}

body.cart #goods {
	background: #ffffff;
	width: 100%;
}

body.cart #goods tbody td {
	height: 160px;
	line-height: 1;
}

body.cart #goods, body.cart #goods thead th, body.cart #goods thead td,
body.cart #goods tbody th, body.cart #goods tbody td {
	border: 1px solid #adadad;
	text-align: center;
	vertical-align: middle;
}

body.cart #goods th {
	background: #dcdcdc;
	padding: 3px;
}

body.cart #goods thead th {
	font-size: 18px;
	font-weight: normal;
}

body.cart #goods tbody td, body.cart #goods tfoot th {
	font-size: 14px;
}

body.cart #goods .thumbnail {
	width: 199px;
}

body.cart #goods .price, body.cart #goods .count, body.cart #goods .sumPrice {
	width: 122px;
}

body.cart #goods .title {
	padding: 5px 32px;
	text-align: left;
}

body.cart #goods .title h2 {
	font-size: 18px;
}

body.cart #goods .title h2 a {
	text-decoration: none;
}

body.cart #goods .title p {
	color: #666666;
	font-size: 14px;
}

body.cart #goods img {
	height: 100px;
	width: 100px;
}

body.cart #goods a.deleteGood {
	background: url('image/cancel.png') no-repeat;
	display: block;
	float: right;
	height: 21px;
	margin: -25px 0 0 170px;
	position: absolute;
	text-decoration: none;
	width: 21px;
}

body.cart #goods a.deleteGood:hover {
	text-decoration: none;
}

body.cart #goods input {
	font-size: 14px;
	padding: 0 6px;
	border: 1px solid #c3c3c3;
	height: 17px;
	width: 46px;
}