body.product #content h4 {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 17px;
}

body.product #content h3 {
	margin: 6px 0 20px 16px;
}

body.product #content > header {
	margin-bottom: 19px;
	overflow: hidden;
}

body.product #content > header h1 {
	color: #7e0303;
	float: left;
	font-size: 21px;
}

body.product #content > header h2 {
	color: #333333;
	float: left;
	font-size: 21px;
	font-weight: normal;
	margin-left: 9px;
}

body.product #productThumbnail {
	float: left;
	width: 277px;
}

body.product #productThumbnail img {
	margin-right: 50px;
}

body.product #productSpec {
	float: left;
	width: 440px;
}

body.product #productSpec h4 {
	line-height: 10px;
	margin-bottom: 22px;
}

body.product #productSpec dl {
	overflow: hidden;
	font-size: 14px;
}

body.product #productSpec dt, body.product #productSpec dd {
	float: left;
	margin-bottom: 12px;
}

body.product #productSpec dt {
	clear: left;
	font-weight: bold;
	width: 156px;
}

body.product #productSpec dd {
	width: 280px;
}

body.product #productDelivery {
	background: url('image/delivery-box.png') 0 10px no-repeat;
	margin-top: 17px;
	min-height: 36px;
	padding: 15px 0 0 65px;
}

body.product #productOrder {
	float: right;
	margin-top: 33px;
	text-align: right;
	width: 250px;
}

body.product #productOrder .price {
	color: #7e0303;
	font-size: 22px;
	margin-bottom: 19px;
	padding-right: 2px;
}

body.product #productOrder .count {
	font-size: 14px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	margin-bottom: 16px;
	padding-right: 2px;
}

body.product #productOrder .count label {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

body.product #productOrder .count input {
	background: #ffffff;
	border: 1px solid #c3c3c3;
	font-size: 13px;
	height: 15px;
	margin: 0 4px;
	padding: 1px 6px;
	position: relative;
	top: -2px;
	width: 46px;
}

body.product #productOrder button {
	width: 195px;
}

body.product #productDescription h4 {
	margin-top: 20px;
	margin-bottom: 18px;
}

body.product #productDescription p {
	margin-bottom: 22px;
}

body.product #content .countOfCollection {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: 14px;
}