body.search #content {
	padding-left: 21px;
	width: 715px;
}

body.search #content h3 {
	margin-bottom: 15px;
}

body.search #content .contentTable {
	padding-left: 18px;
}

body.search #content .contentTable .goodList {
	padding-left: 0;
}

body.search #content .options {
	border-bottom: 1px solid #afafaf;
	font-size: 13px;
	/*overflow: hidden;*/
	padding-bottom: 5px;
	margin-right: 42px;
	margin-bottom: 15px;
}

body.search #content .options .sort {
	float: left;
}

body.search #content .options .show {
	float: right;
}

body.search #content .styledDropDown {
	font-size: 12px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	margin: 0 7px;
	position: relative;
	top: 6px;
}

body.search #sidebar nav, body.search #sidebar nav header {
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url('pie/PIE.htc');
	border-radius: 3px;
}

body.search #sidebar {
	text-align: center;
}

body.search #sidebar nav {
	background: #ffffff;
	margin-bottom: 17px;
	text-align: left;
}

body.search #sidebar nav header {
	background: url('image/sidebar-nav-background.png') repeat-x;
}

body.search #sidebar nav h4 {
	color: #ffffff;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: normal;
	padding: 5px 43px 3px 11px;
}

body.search #sidebar nav dl {
	padding: 12px 9px 9px 17px;
}

body.search #sidebar nav dt {
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
}

body.search #sidebar nav dt .checkbox {
	background: url('image/checkbox-large.png') 0 0 no-repeat;
	position: relative;
	top: 3px;
	width: 20px;
}

body.search #sidebar nav.colorPicker dl {
	padding: 12px 0 0 18px;
}

body.search #sidebar .cbColor {
	border: 1px solid #b4b4b4;
	display: block;
	float: left;
	height: 15px;
	margin: 2px 10px 10px 2px;
	width: 15px;
}

body.search #sidebar .cbColor input {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	cursor: pointer;
	display: block;
	filter: alpha(opacity=0);
	height: 15px;
	opacity: 0;
	width: 15px;
}

body.search #sidebar .cbColor.active {
	border-width: 3px;
	margin: 0 8px 8px 0;
}

body.search #sidebar #cRed { background-color: #fe0000; }
body.search #sidebar #cOrange { background-color: #ffaf00; }
body.search #sidebar #cYellow { background-color: #ffff00; }
body.search #sidebar #cGreen { background-color: #008100; }
body.search #sidebar #cLightGreen { background-color: #01c699; }
body.search #sidebar #cLightBlue { background-color: #00c0ff; }
body.search #sidebar #cBlue { background-color: #0000fe; }
body.search #sidebar #cPurple { background-color: #960085; }
body.search #sidebar #cBlack { background-color: #000000; }
body.search #sidebar #cGrey { background-color: #818181; }
body.search #sidebar #cWhite { background-color: #ffffff; }
body.search #sidebar #cPeach { background-color: #fee1b5; }
body.search #sidebar #cBrown { background-color: #9f4302; }
body.search #sidebar #cPink { background-color: #eeabb4; }

body.search #sidebar a {
	padding-left: 20px;
	padding-right: 20px;
}