/* Main
=============================================================================*/

a,abbr,address,article,aside,b,blockquote,body,button,canvas,caption,cite,dd,
del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,
h4,h5,h6,header,hgroup,html,i,img,input,ins,kbd,label,legend,li,mark,menu,nav,
ol,p,q,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,
time,tr,ul {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
	color: #333333;
	font-size: 16px;
	line-height: 20px;
}

a {
	color: #333;
}

a:hover {
	color: #a00000;
}

p {
	font-size: 12px;
	line-height: 20px;
}

h3 {
	color: #7e0303;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 21px;
	text-transform: uppercase;
}

a.button, button, input[type=button], input[type=submit] {
	color: #ffffff;
	display: inline-block;
	font-size: 18px;
	padding: 0 14px;
	text-decoration: none;
	vertical-align: middle;
}

/* Navigation
=============================================================================*/

#mainNavigation li a {
	color: #333333;
	font-size: 18px;
	text-decoration: none;
}

#mainNavigation li.active a, #mainNavigation li a:hover {
	color: #ffffff;
}

/* Header
=============================================================================*/

#headerSearch input[type=text] {
	color: #555555;
	font-size: 16px;
}

#headerSearch input[type=submit] {
	font-size: 13px;
}

#headerContacts {
	font-size: 18px;
}

#headerContacts small {
	font-size: 13px;
}

#headerContacts em {
	color: #b3b3b3;
	font-size: 13px;
}

#cart, #userPanel {
	font-size: 13px;
}

#cart a {
	color: #1856aa;
}

#cart a:hover {
	color: #5e96e2;
}

/* Footer
=============================================================================*/

#mainFooter footer li a, #mainFooter footer address {
	font-style: normal;
	font-size: 12px;
}

/* Article
=============================================================================*/

article time {
	color: #6d6767;
	font-size: 13px;
	font-style: italic;
}

article h4 {
	font-size: 16px;
	text-decoration: underline;
}

article p {
	line-height: 18px;
}