<?php if (($_products = $this->getProducts()) && $_products->getSize()): ?>
            <h3><?php echo __( ucfirst($this->getType()) . ' Products' ) ?></h3>
            <div class="goodList tableView">
                <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                    <div class="widget">
                        <div class="innerWrapper">
                            <header>
                                <h2><a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                                <a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100) ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"></a>
                            </header>
                            <div class="description">
                                <?php $manufacturer = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('manufacturer') ?>
                                <?php if ( $manufacturer && ( ! is_null( $manufacturer )) && ! empty( $manufacturer )): ?>
                                    <p><strong>Производитель:</strong> <?php echo $manufacturer ?></p>
                                <?php endif ?>
                                <?php $country_of_manufacture = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('country_of_manufacture') ?>
                                <?php if ( $country_of_manufacture && ( ! is_null( $country_of_manufacture )) && ! empty( $country_of_manufacture )): ?>
                                    <p><strong>Страна:</strong> <?php echo $country_of_manufacture ?></p>
                                <?php endif ?>
                                <?php /*<p><strong>Коллекция:</strong> ???</p>*/ ?>
                            </div>
                        </div>
                        <footer>
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span class="iconCart">350.00<?php //echo $this->getPriceHtml($_product, true, '-' . $this->getType()) ?> грн</span></a>
                        </footer>
                    </div>
                <?php endforeach; ?>
            </div>
<?php endif; ?>
