<?php
$collection = Mage::getModel('catalog/category')
    ->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToSort('position');?>

<div id="navItemCategorySubmenu">
    <table>
        <tbody><tr>
            <?php foreach ($collection as $col): ?>
                    <?php if ($col->getLevel() == 2):?>
                        <td>
                            <?php if($col->getChildren() != ""):
                                $subcatArray = explode(',', $col->getChildren());
                            ?>
                                    <h4><?php echo $col->getName(); ?></h4>
                                    <ul>
                                        <?php foreach($subcatArray as $subCategory):
                                                $_subCat = Mage::getModel('catalog/category')->load($subCategory);
                                        ?>
                                            <li><a href="<?php echo $_subCat->getUrl(); ?>"><?php echo $_subCat->getName(); ?></a></li>
                                        <?php endforeach;?>
                                    </ul>
                            <?php else:?>
                                    <h4><?php echo $col->getName(); ?></h4>
                            <?php endif;?>
                        </td>
                    <?php endif; ?>
            <?php endforeach; ?>
        </tr></tbody>
    </table>
</div>