<?php
$helper = Mage::helper("customer");
$rgister = $helper->getRegisterUrl();
$signin = $helper->getLoginUrl();
$loggedin = $helper->isLoggedIn();
$logout = $helper->getLogoutUrl();
$cart = Mage::getSingleton('checkout/session')->getQuote()->getData();
?>
<section id="mainNavigation">
    <nav role="navigation">
        <?php echo $this->getChildHtml('navCategories') ?>
        <?php echo $this->getChildHtml('topLinks') ?>
    </nav><!--r/navigation-->
</section><!--#/mainNavigation-->
<section id="mainHeader">
    <header role="banner">
        <div id="banner"><a href="<?php echo $this->getUrl();?>">&nbsp;</a></div>
        <div id="headerOptions">
            <div id="headerSearch" role="search">
                <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
                    <input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>" />
                    <input type="submit" title="<?php echo $this->__('Поиск') ?>" value="<?php echo $this->__('Поиск') ?>" />
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <script type="text/javascript">
                        //<![CDATA[
                        var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('') ?>');
                        searchForm.initAutocomplete('<?php echo $this->helper('catalogsearch')->getSuggestUrl() ?>', 'search_autocomplete');
                        //]]>
                    </script>
                </form>
            </div><!--#/search--><!--r/search-->
            <div id="headerContacts">
                <div class="options">
                    <dl>
                        <dt><nobr><small>(0562)</small> 31-40-47</nobr></dt>
                        <dt><nobr><small>(095)</small> 779-31-33</nobr></dt>
                        <dt><nobr><small>(098)</small> 447-34-04</nobr></dt>
                    </dl>
                </div>
                <div class="dropDown">
                    <em><nobr>Днепропетровск, Украина</nobr></em>
                    <div>
                        <?php echo $this->getChildHtml('header_block') ?>
                    </div>
                </div>
            </div><!--#/headerContacts-->
            <div id="userPanel">
                <div class="options">
                    <?php if(!$loggedin):?><a href="<?php echo $signin ?>">Вход</a> или <a href="<?php echo $rgister ?>">Регистрация</a><?php else:?><a href="<?php echo $logout ?>">Выход</a><?php endif;?>
                </div>
            </div><!--#/userPanel-->
            <div id="cart">
                <?php if(isset($cart['items_qty']) && $cart['items_qty'] > 0):?>
                    <div class="options">
                        <?php if($cart['items_qty'] == 1) echo (int)$cart['items_qty'].' товар';?>
                        <?php if($cart['items_qty'] > 1 && $cart['items_qty'] < 5) echo (int)$cart['items_qty'].' товара';?>
                        <?php if($cart['items_qty'] >= 5) echo (int)$cart['items_qty'].' товаров';?>
                        <br /><a href="<?php echo $this->getUrl('onepagecheckout');?>">Оформить заказ</a>
                    </div>
                <?php else:?>
                    <div class="options">Ваша корзина пуста</div>
                <?php endif;?>
            </div><!--#/cart-->
        </div>
    </header><!--r/banner-->
</section><!--#/mainHeader-->