<?php $items = $this->getLatestNewsItems() ?>
<?php if (count($items)): ?>
    <h3>Новости</h3>
    <div id="news">
        <?php foreach ($items as $item): ?>
            <? if ($item->getData('status') == 1):?>
                <article style="height: 315px;">
                    <div class="innerWrapper">
                        <time><?php echo Mage::helper('clnews')->formatDate($item->getNewsTime()) ?></time>
                        <h4><a href="<?php echo str_replace('clnews', $this->getAlias(), $item->getUrl()) ?>"><?php echo $item->getTitle();?></a></h4>
                        <p><?php echo $item->getShortContent(); ?></p>
                    </div>
                    <a class="moreLink" href="<?php echo str_replace('clnews', $this->getAlias(), $item->getUrl()) ?>" style="display: block;">Подробнее</a>
                </article>
            <? endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif ?>