<h3><?php echo $this->__(Mage::getStoreConfig('clnews/news/title')) ?></h3>
<div id="news">
    <?php $items = $this->getNewsItems() ?>
    <?php foreach ($items as $item): ?>
        <?php if ($item->getData('status') == 1):?>
            <article>
                <time><?php echo Mage::helper('clnews')->formatDate($item->getNewsTime()) ?></time>
                <h4><a href="<?php echo str_replace('clnews', $this->getAlias(), $item->getUrl()) ?>"><?php echo $item->getTitle();?></a></h4>
                <div class="content">
                    <?php echo $item->getShortContent(); ?>
                </div>
                <a class="moreLink" href="<?php echo str_replace('clnews', $this->getAlias(), $item->getUrl()) ?>">Подробнее</a>
            </article>
            <?php endif;?>
    <?php endforeach;?>
    <?php if($this->getLastPageNum()>1): ?>
        <nav id="pagination">
            <div class="innerWrapper">
                <ul>
                    <li class="text static">Страницы:</li>
                    <?php if (!$this->isFirstPage()): ?>
                        <li class="text" id="prevPage"><a href="<?php echo $this->getPreviousPageUrl() ?>">Предыдущая страница</a></li>
                    <?php endif;?>
                    <?php foreach ($this->getPages() as $_page): ?>
                        <?php if ($this->isPageCurrent($_page)): ?>
                            <li class="active"><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
                        <?php else: ?>
                            <li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
                        <?php endif ?>
                    <?php endforeach; ?>
                    <?php if (!$this->isLastPage()): ?>
                        <li id="nextPage" class="text"><a href="<?php echo $this->getNextPageUrl() ?>">Следующая страница</a></li>
                    <?php endif ?>
                </ul>
            </div>
        </nav>
    <?php endif;?>
</div>